/* Dark mode colors. */
:root {
	--sl-color-accent-low: #1f003d;
	--sl-color-accent: #9400a7;
	--sl-color-accent-high: #ca9cf5;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ede7f2;
	--sl-color-gray-2: #c2b0d6;
	--sl-color-gray-3: #ad92a2;
	--sl-color-gray-4: #62495a;
	--sl-color-gray-5: #412a37;
	--sl-color-gray-6: #2f181f;
	--sl-color-black: #1c121c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #b6ddf9;
	--sl-color-accent: #005580;
	--sl-color-accent-high: #003653;
	--sl-color-white: #121a1c;
	--sl-color-gray-1: #182a2f;
	--sl-color-gray-2: #2a3b41;
	--sl-color-gray-3: #495c62;
	--sl-color-gray-4: #7b8f96;
	--sl-color-gray-5: #bac4c8;
	--sl-color-gray-6: #e7eff2;
	--sl-color-gray-7: #f3f7f9;
	--sl-color-black: #ffffff;
}
